@import 'main';

body {
  margin: 0;
  background: $two-color;
  overflow: hidden;
}
.err_page {
  height: 100vh;
  padding: 0 50px;
  background-color: $two-color;
}
a {
  text-decoration-line: none;
  color: $one-color;

}
.back_main {
  position: absolute;
  top: 5%;
  width: 60%;
  margin-left: 10%;
  font-family: $font-stack1;
  font-size: 20px;
}